{% extends "base.html.twig" %}

{% block body %}
    <h1>liste de produits</h1>
    <ul>
        <p>
            {{ product.name }}
        </p>
        <p>
            {{ product.description }}
        </p>
        <p>
            {{ product.price }}
        </p>
        <p>
            {{ product.image }}
        </p>
    </ul>
{% endblock %}
